@charset "UTF-8";
* {
  list-style: none;
  font-family: 小塚ゴシック Pr6N;
}

@media screen and (max-width: 1218px) {
  .header__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.23974vw;
    background-color: #ff8cba;
    border-bottom: 0.32841vw solid #fff;
    color: #fffefe;
    webkit-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    -moz-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    -ms-filter: drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
  }
  .header__subtitle-txt {
    font-size: 2.95567vw;
    font-weight: bold;
  }
  .header__title {
    width: 100vw;
  }
  .slide {
    margin: 7.38916vw auto;
  }
  .slide__content {
    height: 51.72414vw;
    background: #fc3d7c;
  }
  .slide__nav {
    width: 100vw;
  }
  .bg {
    padding: 1.64204vw 0 5.74713vw;
    background-image: url(../img/bg.png);
  }
  .news {
    width: 96.71593vw;
    margin: 0 auto;
    padding-bottom: 1.64204vw;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .news__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.34647vw;
  }
  .news__title-img {
    width: 100%;
  }
  .news__content {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 93.43186vw;
    height: 1190px;
    margin: 0 auto;
    padding: 4.6798vw 3.11987vw 0;
    background-color: #fff;
  }
  .news__date {
    text-align: center;
    font-size: 2.95567vw;
    line-height: 1.94;
    color: #ff8cba;
  }
  .news__heading {
    text-align: center;
    font-size: 5.09031vw;
    font-weight: normal;
    line-height: 1;
    color: #30292c;
  }
  .news__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3.61248vw 0 4.10509vw;
  }
  .news__banner-item {
    width: 49.26108vw;
    height: 65.68144vw;
    background-color: #fc3d7c;
  }
  .news__txt {
    font-size: 3.44828vw;
    color: #30292c;
  }
  .schedule {
    width: 96.71593vw;
    margin: 1.64204vw auto 0;
    padding-bottom: 1.64204vw;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .schedule__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.34647vw;
  }
  .schedule__title-img {
    width: 100%;
  }
  .schedule__content {
    width: 100%;
    margin: 0 auto;
  }
  .schedule__casts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1.14943vw;
  }
  .schedule__cast {
    border: 0.1642vw solid #ff8cba;
    background-color: #fff;
  }
  .schedule__avatar {
    display: block;
    width: 30.04926vw;
  }
  .schedule__caption {
    padding: 1.64204vw;
    text-align: center;
    font-size: 2.13465vw;
    line-height: 1.58;
    color: #262425;
  }
  .schedule__name {
    font-size: 2.95567vw;
    line-height: 1.17;
    color: #ff8cba;
  }
  .new-face {
    width: 96.71593vw;
    margin: 1.64204vw auto 0;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .new-face__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.34647vw;
  }
  .new-face__title-img {
    width: 100%;
  }
  .new-face__content {
    width: 100%;
    margin: 0 auto;
  }
  .new-face__casts {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .new-face__cast {
    position: relative;
    border: 0.1642vw solid #ff8cba;
    background-color: #fff;
  }
  .new-face__avatar {
    display: block;
    width: 30.04926vw;
  }
  .new-face__new {
    position: absolute;
    top: 57%;
    left: 70%;
    width: 9.60591vw;
  }
  .new-face__caption {
    padding: 1.64204vw;
    text-align: center;
    font-size: 2.13465vw;
    line-height: 1.58;
    color: #262425;
  }
  .new-face__name {
    font-size: 2.95567vw;
    line-height: 1.17;
    color: #ff8cba;
  }
  .new-face__more {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21.26437vw;
  }
  .new-face__btn {
    width: 50.90312vw;
  }
  .banner {
    width: 96.71593vw;
    margin: 5.74713vw auto 0;
  }
  .banner__1col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner__2col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.46305vw;
  }
  .banner__img {
    display: block;
    width: 100%;
  }
  .banner__img--2col {
    width: 47.20854vw;
  }
  .footer {
    border-top: 0.32841vw solid #fff;
  }
  .footer__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1642vw solid #fff;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.25123vw;
    height: 8.62069vw;
    background-color: #ff8cba;
    font-size: 2.95567vw;
    font-weight: bold;
    line-height: 1.33;
    color: #fff;
  }
  .footer__item--2 {
    border-right: 0.1642vw solid #fff;
    border-left: 0.1642vw solid #fff;
  }
  .footer__item--1col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 11.82266vw;
    text-align: center;
    background-color: #ff8cba;
    font-size: 2.95567vw;
    font-weight: bold;
    line-height: 1.33;
    color: #fff;
  }
  .fix-header {
    position: fixed;
    top: -66px;
    /* 上に隠す鷹さ */
    left: 0;
    width: 100%;
    height: 18.0624vw;
    margin: 0 auto;
    background-color: #ff8cba;
    opacity: 0;
    /* 	最初読み込んだときは透過 */
    z-index: 1000;
    /*　他のアイテムに対して最上位のレイヤーになるように */
  }
  .fix-header__contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .fix-header__menus {
    display: flex;
  }
  .fix-header__item {
    padding-right: 1.64204vw;
  }
  .fix-header__item-img {
    display: block;
    width: 13.13629vw;
  }
  .fix-header li:last-child {
    margin-right: 0;
  }
  .fix-header__logo img {
    display: block;
    width: 23.80952vw;
  }
  .scroll-fix__item {
    padding-right: 1.64204vw;
  }
  .scroll-fix__item-img {
    display: block;
    width: 13.13629vw;
  }
}
