header {
  background: #155263;
  position: relative;
  width: 100%;
}

.g-nav {
  width: 100%;
  z-index: 10;
}

.g-nav-menu {
  text-align: center;
}

.g-nav-menu li {
  color: #fff;
  padding: 0 30px;
  list-style-type: none;
  display: inline-block;
  line-height: 80px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.fixed .g-nav-menu li {
  line-height: 40px;
}

section {
  display: table;
  width: 100%;
  height: 800px;
  text-align: center;
}

section p {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
}

#sec01 {
  background: #FF6F3C;
}

#sec02 {
  background: #FF9A3C;
}

#sec03 {
  background: #FFC93C;
}
